{% extends "main/base.htm" %}
{% load crispy_forms_tags %}
{% block content %}

<form method="POST">
  {% csrf_token %}
    <legend class="border-bottom mb-4">BITSAT Aspirant Details</legend>
    <div class="row">
      <div class="form-group col-6">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ userName }}" readonly>
      </div>
      <div class="form-group col-6">
        <label for="bitsat_date">BITSAT Date and Slot</label>
        <input type="text" class="form-control" id="bitsat_date" name="bitsat_date" placeholder="Eg. 09-08-2021 Morning" required>
      </div>
      <div class="form-group col-6">
        <label for="bitsat_score">BITSAT Score</label>
        <input type="text" class="form-control" id="bitsat_score" name="bitsat_score" placeholder="Eg. 365" required>
      </div>
      <div class="form-group  col-6">
        <label for="type">You are</label>
        <select class="form-control" id="type" name="type" required>
          <option>an aspirant</option>
          <option>a parent</option>
        </select>
      </div>
  </div>
  <button type="submit" class="btn btn-primary" style="border-radius: 25px;"><i class="fas fa-check-circle mr-2"></i>Submit</button>
</form>
{% endblock content %}